.my__freelance{
    width: 80%;
    margin: 0 auto;
    position: relative;
    margin-top: $mg-4;
    .freelane__content{
        position: absolute;
        top: 25%;
        left: 25%;
        h2{
            @include styleText($fs-3,$fw-bold,$color-black-3);
            letter-spacing: 1px;
            margin-bottom: $mg-1;
        }
        p{
            @include styleText($fs-0,$fw-normal,$color-white-cream-1);
            letter-spacing: 1px;
        }
    }
}