// .my_QA{
//     #qua{
//         .panel{
//             display: none;
//         }
//         &.open{
//             .panel{
//                 display: block;
//             }
//         }
//     }
// }

.my_QA{
    background-color: $color-white-cream-3;
    margin-top: $mg-4;  
    .QA{
        width: 80%;
        margin: 0 auto;
        .QA__title{
            h2{
                @include styleText($fs-4 -3,$fw-bold,$color-black-0);
                padding-top: $pd-4;
                padding-bottom: $pd-3;
            }
        }
        .accordion{
            .card{
                margin: $mg-1;
                .card-header{
                    background-color: $color-white-0;
                    padding: $pd-0 +2;
                    border-bottom: none;
                    transition: all .5s;
                    button{
                        @include styleText($fs-1 +2,$fw-bold,$color-black-0);
                        text-decoration: none;
                    }
                    &:hover{
                        border-left: 5px solid $color-green-0;
                    }
                }
                .card-body{
                    @include styleText($fs-1,$fw-normal,$color-white-cream-1);
                }
            }
            
        }
    }
    
}
