.my__righttool{
    width: 80%;
    margin: 0 auto;
    margin-top: $mg-4;
    margin-bottom: $mg-3;
    .righttool__left{
        .righttool__content{
            h2{
               @include styleText($fs-3 +2,$fw-bold-0,$color-black-0);
               letter-spacing: 1px;
               margin-bottom: $mg-3;
            }
        }
        .righttool__infor{
            span{
                @include styleText($fs-0,$fw-bold,$color-black-0);
                margin-left: $mg-1;
            }
            p{
                @include styleText($fs-1 +2,$fw-normal,$color-white-cream-1);
                margin-top: $mg-1;
            }
        }
    }
}