// variable color
$color-black-0: #29303b; // default
$color-black-1: #555555;
$color-black-2: #ccc;
$color-black-3: #28211C;
$color-white-0: #fff; //default
$color-white-1: #EEF2F5;
$color-white-cream:#f2f3f5;
$color-white-cream-1: #909398;
$color-white-cream-3: #f7f7f7;
$color-green-0: #1dbf73;
$color-green-1: #19a463;
$color-green-2: #1fd0b6;
$color-pink-0: #F192AD;
$color-pink-1: #ff62ad;
$color-gray-0: #62646a;
$color-black-dark: rgba(0,0,0,0.5);
$color-black-light : #F5F5F5;
$color-black-orange: #E7643E;
// variable font-size
$fs-0: 16px;
$fs-1: 13px;
$fs-2: 20px;
$fs-3: 24px;
$fs-4: 36px;
$fs-5: 40px;

//variable font-weight
$fw-normal: normal;
$fw-bold-0: 600;
$fw-bold-1: 700;
$fw-bold: bold;

//variable padding
$pd-0: 5px; //default
$pd-1: 10px;
$pd-2: 20px;
$pd-3: 24px;
$pd-4: 65px;


//variable margin
$mg-0: 2px;
$mg-1: 10px;
$mg-2: 25px;
$mg-3: 35px;
$mg-4: 100px;